/.tmp/
/.sass-cache/
/bower_components/
/node_modules/
/app/languages/min/
/release/
/test/
/preprod/
/prod/
/.yo-rc.json
/app/config/target.config.js
/.idea/workspace.xml
/app/scripts/generator-cozen-angular-test.js
/app/scripts/generator-cozen-angular-test.js.map
/app/scripts/generator-cozen-angular-test.min.js
/app/scripts/generator-cozen-angular-test.min.js.map
/app/styles/css/
/app/index.html
/app/manifest.json
/app/config/tpls/vendors-generated.tpl.html
/app/scripts/vendors.min.js
/package-lock.json
/debug.log
